<div class="singIn">
  <div class="form">
    <form class="example-form">
        <input [(ngModel)]="user.fullname" matInput type="text" id="fullname" name="fullname" placeholder="نام و نام خانوادگی">
        <input [(ngModel)]="user.account.username" matInput type="text" id="username" name="username" placeholder="ایمیل">
        <input [(ngModel)]="user.account.password" type="password" name="password" id="password" placeholder="رمز عبور">
        <div class="buttons">
          <button style="background-color: rgb(7, 192, 62);" mat-raised-button (click)="register()" >ثبت نام</button>
          <button style="background-color: rgb(189, 189, 189);" mat-raised-button>انصراف</button>
        </div>
        <div class="remind">
          <span>مرا به خاطر داشته باش</span>
          <input class="bala" type="checkbox" name="remind-me" id="remind-me">
        </div>
        <!-- <div class="gender">
          <mat-form-field appearance="fill" color='warn'>
            <mat-label>جنسیت</mat-label>
            <mat-select >
              <mat-option [(ngModel)]="user.gender" value="male">مرد</mat-option>
              <mat-option [(ngModel)]="user.gender" value="female">زن</mat-option>
            </mat-select>
          </mat-form-field>
          </div> -->
        <div class="logos">
          <a href=""><img src="../../assets/img/google_logo.png" alt="google"></a>
          <a href=""><img src="../../assets/img/facebook_logo.png" alt="facebook"></a>
          <a href=""><img src="../../assets/img/twitter_logo.png" alt="twitter"></a>
        </div>
    </form>
  </div>
</div>
<div class="LoadingPage" *ngIf="done">
  <mat-spinner></mat-spinner>
</div>
