mat-grid-tile {
  background: rgb(200,50,73);
  background: radial-gradient(circle, rgba(200,50,73,0.9920343137254902) 25%, rgba(255,255,255,0) 91%);
  border-radius: 5px;
}
.grid{
  margin: 25px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2c2c2cbb;
  font-size: larger;
}
mat-grid-tile:hover .overlay  {
  opacity: 0.7;
}

