<mat-grid-list cols="2" rowHeight="2:0.8" class="grid">
  <a href="">
    <mat-grid-tile>
      <img src="../../assets/img/writers.jpg" alt="Writers">
      <div class="overlay">
        <div class="text">نویسنده ها</div>
      </div>
    </mat-grid-tile>
  </a>
  <a href="" [routerLink]="['managersList']">
    <mat-grid-tile>
      <img src="../../assets/img/managers.jpg" alt="Managers">
      <div class="overlay">
        <div class="text">مدیران</div>
      </div>
    </mat-grid-tile>
  </a>
  <a href="" [routerLink]="['usersList']">
    <mat-grid-tile>
      <img src="../../assets/img/users1.jpg" alt="Users">
      <div class="overlay">
        <div class="text">کاربر ها</div>
      </div>
    </mat-grid-tile>
  </a>
  <a href="" [routerLink]="['coursesList']">
    <mat-grid-tile>
      <img src="../../assets/img/coursesList1.jpg" alt="coursesList">
      <div class="overlay">
        <div class="text">دوره ها</div>
      </div>
    </mat-grid-tile>
  </a>
</mat-grid-list>
