<div id="top_main_page">
  <div class="trailers_show">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href=""><img src="../assets/img/TS/tenet.jpg" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block w-100 position-absolute end-0 ">
            <a class="trailer_show_title" href="#">تریلر فیلم tenet عرضه شد</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/TS/theTrialOfTheChicago7.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block w-100 position-absolute end-0 ">
            <a class="trailer_show_title" href="#">سومین صدر نشینی در باکس آفیس</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/TS/Dune_image.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block w-100 position-absolute end-0 ">
            <a class="trailer_show_title" href="#">محاصبه اختصاصی با کارگردان فیلم Dune</a>
          </div>
        </div>
      </div>
      <button id="trailer_prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button id="trailer_next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      <!-- <div class="mySlides"><a href="#"><img class="img-fluid" src="../assets/img/TS/tenet.jpg" alt="Tenet"></a></div>
      <div class="mySlides"><a href="#"><img class="img-fluid" src="../assets/img/TS/theTrialOfTheChicago7.jpg" alt="Tenet"></a></div>
      <div class="mySlides"><a href="#"><img class="img-fluid" src="../assets/img/TS/Dune_image.jpg" alt="Tenet"></a></div>
      <a class="trailer_show_title" href="#">تریلر فیلم tenet عرضه شد</a>
      <a class="trailer_show_title" href="#">سومین صدر نشینی در باکس آفیس</a>
      <a class="trailer_show_title" href="#">محاصبه اختصاصی با نویسنده فیلم Dune</a> -->
  </div>
  <div class="next-ts">
      <div><a href="#"><img src="../assets/img/TS/parasite_poster.png" alt="Parasite"><h3>نقد و بررسی فیلم Parasite</h3></a></div>
      <div><a href="#"><img src="../assets/img/TS/dunkirk_poster.jpg" alt="Dunkirk"><h3>صعود و سقوط کریستوفر نولان</h3></a></div>
      <div><a href="#"><img src="../assets/img/TS/moonlight_poster.jpg" alt="Moonlight"><h3>نگاهی به برندگان اسکار 2016 </h3></a></div>
  </div>
</div>
